<!--The content below is only a placeholder and can be replaced.-->
<div class="Row">
  <img class="Column" width="250" alt="croi Logo" src="../assets/crossfit-croi.jpg">
  <h1 id="main-title" class="Column">1,000,000m Rowathon</h1>
  <img id="pieta-logo" class="Column" width="500" height="250" alt="pieta Logo" src="../assets/Pieta-House.jpg">
</div>
<div id="left-panel">
  <h2>Distance</h2>
  <app-distance-table></app-distance-table>
</div>
<div id="right-panel">
  <h2>Current status</h2>
  <app-my-map></app-my-map>
</div>
