<div fxFlex fxLayout="column">
  <!-- TODO move to header component -->
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout fxLayoutAlign="center">
      <section class="mat-typography">
        <span class="mat-display-2">1,000,000 Metre Rowathon</span>
      </section>
    </mat-toolbar-row>
    <mat-toolbar-row class="logos" fxLayout fxLayoutAlign="space-evenly">
      <img height="90 " alt="CrossFit Croi" src="../assets/crossfit-croi.jpg" />
      <img
        height="90"
        id="pieta-logo"
        alt="Pieta House"
        src="../assets/pieta-house-blue.jpg"
      />
    </mat-toolbar-row>
  </mat-toolbar>
  <app-distance-table></app-distance-table>
</div>
